.btn-search {
  background-color: #383838 !important;
  border-radius: 0 !important;
}

.btn-know-more {
  background-color: #383838 !important;
  border-radius: 0 !important;
  width: 200px;
  height: 60px;
}

.btn-know-more::before {
  border-radius: 0 !important;
  content: "";
  display: block;
  position: absolute;
  z-index: -3;
  left: 5px;
  top: 5px;
  width: 100%;
  height: 100%;
  border: 5px solid #fbba00;
  border-top: 0px;
  border-left: 0px;
}

.btn-search::before {
  border-radius: 0 !important;
  content: "";
  display: block;
  position: absolute;
  z-index: -3;
  left: 5px;
  top: 5px;
  width: 100%;
  height: 100%;
  border: 5px solid #fbba00;
  border-top: 0px;
  border-left: 0px;
}

.padding-default {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-default-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-default-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.title-down-line::before {
  background-color: #fbba00;
  content: "";
  display: block;
  position: absolute;
  left: 185px;
  top: 50px;
  width: 100px;
  height: 5px;
  font-size: 90px !important;
}

.primary-text-color {
  color: #fbba00;
}

.smartfit-bg {
  position: absolute !important;
  left: -60px;
  top:80px;
}

.brand-img {
  width: 135px;
}

.active-line::after {
  position: relative;
  content: "";
  top: 7px;
  left: 0px;
  background-color: #fbba00;
  width: 100%;
  height: 3px;
  display: flex;
  z-index: 1px;
}

.active-line-effect::after {
  position: relative;
  content: "";
  top: 25px;
  left: 0px;
  background-color: #fbba00;
  width: 50%;
  height: 3px;
  display: flex;
  z-index: 1px;
}


.box-app-download{
  display:flex;
  flex:1;
  border:3px solid #fbba00;
  flex-direction: column;
}